<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
    {% endblock %}
</head>
<body>
    {% include 'common/page_top.html' %}

    <div id="page_body">
        <div id="page_heading">{% block heading %}{{ heading }}{% endblock %}</div>
        <div class="error">{{ error|safe }}</div>
        <div class="info">{{ info|safe }}</div>
        <div id="page_content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'common/page_bottom.html' %}
</body>
</html>